<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.demo05.mapper.PageshowMapper">
    <!--    public Customer getCust(String Id);-->
    <select id="findTotalCount" resultType="com.atguigu.demo05.Bean.Inovice">
        select count(*)
        from air_ticket.seat_select
    </select>

    <select id="findTotalOrder" resultType="com.atguigu.demo05.Bean.Inovice">
        select seat_select.*, flight_table.start_pos, flight_table.dest_pos
        from air_ticket.seat_select,
             air_ticket.flight_table
        where customer_id = #{customer_id}
          and f_id = seat_select.airp_id
    </select>


    <select id="findByPage" resultType="com.atguigu.demo05.Bean.Inovice">
        select *
        from air_ticket.seat_select
        where order_id = #{order_id}
        limit #{begin},#{end}
    </select>

</mapper>
